﻿@using WebKladionica.Models
@model Utakmice




@using (Html.BeginForm("_odaberiOdabirPartial", "Utakmice",new { Id = Model.Id ,gost=Model.gost,domacin=Model.domacin,datumUtakmice=Model.datumUtakmice,nekaj=Model.odabir,rez=Model.rezultat}))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <table class=" table">
            <tr>
                <th width="300px">Domaćin</th>
                <th width="300px">Gost</th>
                <th width="300px">Datum</th>
                <th width="300px">Odabir</th>
            </tr>
            <tr>

                <td >@Html.DisplayFor(model => model.domacin)</td>
                <!--Potrebno hidden for, ako nema kod odabira se prebriše rezultat-->
                @Html.HiddenFor(model=>model.rezultat)
                <td>@Html.DisplayFor(model => model.gost)</td>
                <td>@Html.DisplayFor(model => model.datumUtakmice)</td>
                <td>
                    @Html.RadioButtonFor(model => model.odabir, "1") 1
                    @Html.RadioButtonFor(model => model.odabir, "X") X
                    @Html.RadioButtonFor(model => model.odabir, "2") 2
                    @Html.ValidationMessageFor(model => model.odabir, "", new { @class = "text-danger" })
                </td>
               <td><input type="submit" value="Place bet" class="btn btn-default gumb" /></td>
            </tr>                   
        </table>

   </div>
 
}