﻿@using WebKladionica.Models
@model Utakmice

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>-</h1>
@using (Html.BeginForm())
{
    // @Html.AntiForgeryToken()  generates a hidden form anti-forgery
    // token that must match in the Edit method of the Movies controller.
    @Html.AntiForgeryToken()
    <div class="form-horizontal ">
        <table class=" table ">
            <tr >
                <td>@Html.LabelFor(model => model.Id, new { @class = "control-label" })</td>
                <td>@Html.TextBoxFor(model => model.Id, new { disabled = true, @class = "form-control" })</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.gost, new { @class = "control-label" })</td>
                <td>
                    @Html.EditorFor(model => model.gost, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.gost, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.domacin, new { @class = "control-label" })</td>
                <td>
                    @Html.EditorFor(model => model.domacin, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.domacin, "", new { @class = "text-danger" })
                </td>
            </tr>

            

            <tr>
                <td>@Html.LabelFor(model => model.datumUtakmice, new { @class = "control-label" }) </td>
                <td>
                    @Html.EditorFor(model => model.datumUtakmice, new { htmlAttributes = new { @class = "form-control " } })
                    @Html.ValidationMessageFor(model => model.datumUtakmice, "", new { @class = "text-danger" })
                </td>
            </tr>

         

            <tr>
                <td>@Html.LabelFor(model => model.rezultat, new { @class = "control-label" }) </td>
                <td>
                    @Html.EditorFor(model => model.rezultat, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.rezultat, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.odabir, new { @class = "control-label" })</td>
                <td>
                    <div>
                        @Html.RadioButtonFor(model => model.odabir, "1") 1
                        @Html.RadioButtonFor(model => model.odabir, "X") X
                        @Html.RadioButtonFor(model => model.odabir, "2") 2

                    </div>
                    @Html.ValidationMessageFor(model => model.odabir, "", new { @class = "text-danger" })
                    @Html.DisplayFor(model=>model.odabir)
                    @Html.DisplayFor(model=>model.domacin)
                    @Html.DisplayFor(model => model.gost)
                </td>
            </tr>


            
           
                
        </table>
    </div>
    <p>
        @Html.ValidationSummary(true,
             "Spremanje nije uspjelo. Popravite potrebne podatke i pokušajte ponovno!", new { @class = "text-danger" })
    </p>
    // Submit (save) tipka
    <p><input type="submit" value="Spremi" class="btn btn-default" /></p>
    @Html.ActionLink("Povratak na početak bez spremanja", "Utakmice", new { @class = "btn btn-link" })
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquery")
}

