﻿
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



    <div class="jumbotron" style="text-align:center;">
       
        <h1> WEB KLADIONICA</h1>    
    </div>

<img src="~/Content/Slike/mainpicture.jpg" width="800" height="400" style="display:block;margin:auto;"/>

    <div class="row" style="text-align:center;">
        <div class="col-md-6">
            <h2>Pretraživanje i pregled</h2>
            <p>Pretraživanje utakmice po nazivu</p>
            <p>@Html.ActionLink("Pregled", "Utakmice", "Utakmice", new { @class = "btn btn-default btn-lg", role = "button" })</p>
            
        </div>
        
        <div class="col-md-6" style="text-align:center;">
            <h2>O projektu</h2>
            <p>Više podataka o projektu WEB KLADIONCA, autori projekta, kontakt podaci.</p>
            <p>@Html.ActionLink("Više detalja", "Detalji", "Utakmice", new { @class = "btn btn-default btn-lg", role = "button" })</p>
        </div>
        </div>
  

