﻿@using WebKladionica.Models
@model IEnumerable<Utakmice>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Scripts.Render("~/bundles/jquery")
<script type="text/javascript">
    $(document).ready(function () {


        });


</script>
@if (User.Identity.IsAuthenticated)
{
    <h1>-----</h1>
    using (@Html.BeginForm("Utakmice", "Utakmice", FormMethod.Get, new { @class = "form-inline" }))
    {
        <div class="form-group">
            @Html.Label("Naziv", new { @class = "sr-only" })
            @Html.TextBox("Naziv", "", new { @class = "form-control", placeholder = "Naziv događaja" })
        </div>

        <button type="submit" class="btn btn-primary">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Traži
        </button>
    }
    <br />

    <table class="table" id="one">
        <tr>
            <th>Događaj</th>
            <th>Datum</th>
            <th>Rezultat</th>
            <th>Odabir</th>
            <th>Status</th>
        </tr>
        @foreach (Utakmice s in Model)
        {
            <tr>
                <td>@s.domacin - @s.gost</td>
                <td>
                    @s.datumUtakmice.ToString("dd.MM.yyyy")
                </td>
                <td>@s.rezultat</td>
                <td>@s.odabir</td>

                               <td>
                        @if (@WebKladionica.Helpers.KladionicaHelper.PretvoriRezultat(@s.rezultat) == @s.odabir)
        {
            <img src="~/Content/Slike/right.png" height="50" width="50"/>
                        }
                        else if (@WebKladionica.Helpers.KladionicaHelper.PretvoriRezultat(@s.rezultat) == "Nedefiniran")
                        { <p>Utakmica nije završila</p>}
                        else if (@WebKladionica.Helpers.KladionicaHelper.PretvoriRezultat(@s.rezultat) != @s.odabir)
                        {
            <img src="~/Content/Slike/wrong.png"  height="50" width="50"/>
        }
       
                            </td>
                

            </tr>


        }
    </table>
}

