﻿@using WebKladionica.Models
@model IEnumerable<Utakmice>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*@Scripts.Render("~/bundles/jquery")
<script type="text/javascript">
    $(document).ready(function () {
       

        });*@
   

@*</script>*@

@if (User.IsInRole("Admin"))
{
<h1>-----</h1>
    using (@Html.BeginForm("Utakmice", "Utakmice", FormMethod.Get, new { @class = "form-inline" }))
    {
        <div class="form-group">
            @Html.Label("Naziv", new { @class = "sr-only" })
            @Html.TextBox("Domacin", "", new { @class = "form-control", placeholder = "Naziv događaja" })
        </div>

        <button type="submit" class="btn btn-primary">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Traži
        </button>
    }
    <br />

    <p>@Html.ActionLink("Unos nove utakmice", "Azuriraj", "Utakmice", new { @class = "btn btn-default btn-lg", role = "button" })</p>
    <table class="table" id="one">
        <tr>
            <th>Događaj</th>
            <th>Datum</th>
            <th>Rezultat</th>
           
            <th>Status</th>
        </tr>
        @foreach (Utakmice s in Model)
        {
            if (s.datumUtakmice > DateTime.Now)
            {
                <tr>
                    <td>@s.domacin - @s.gost</td>
                    <td>
                        @s.datumUtakmice.ToString("dd.MM.yyyy")
                    </td>
                    <td>@s.rezultat</td>



                    <td>
                        @Html.ActionLink("Ažuriraj", "Azuriraj", new { id = s.Id }) |
                        @Html.ActionLink("Obriši", "Obrisi", new { id = s.Id })
                    </td>

                </tr>
            }



        }
    </table>

    <p>
        <span class="glyphicon glyphicon-print"></span> @Html.ActionLink("Ispiši listu", "Ispisi", new
                                                  {
                                                      domacin = Request.QueryString["domacin"],
                                                      gost = Request.QueryString["gost"],
                                                   
                                                  }, new { target = "blank" })
    </p>
}
else
{
    <h1>-----</h1>
    using (@Html.BeginForm("Utakmice", "Utakmice", FormMethod.Get, new { @class = "form-inline" }))
    {
        <div class="form-group">
            @Html.Label("Naziv", new { @class = "sr-only" })
            @Html.TextBox("Domacin", "", new { @class = "form-control", placeholder = "Naziv događaja" })
        </div>

            <button type="submit" class="btn btn-primary">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Traži
            </button>
    }
    foreach (Utakmice s in Model)
    {
        if (s.datumUtakmice > DateTime.Now)
        {
            @Html.Partial("_odaberiOdabirPartial", s, new ViewDataDictionary<int>(s.Id))
        }



    }
    <p>
        <span class="glyphicon glyphicon-print"></span> @Html.ActionLink("Ispiši listu", "Ispisi", new
                                                   {
                                                       domacin = Request.QueryString["domacin"],
                                                       gost = Request.QueryString["gost"],

                                                   }, new { target = "blank" })
    </p>
}






